.container {
  position: relative;
  overflow: hidden;

  .svg {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 1;
  }
}

.row {
  flex-wrap: nowrap;
  overflow: auto;
  position: relative;
  z-index: 2;
  padding-bottom: 20px;
}

.avatar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 20px;

  span{
    margin: 0 auto;
    display: inline-flex;
  }
}

.testimonial {
  margin: 20px 0;
  margin-top: 10px;
  padding: 20px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0.082);
}
