.container {
  position: relative;
  overflow: hidden;

  .svg {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 1;
  }
}

.row {
  flex-wrap: nowrap;
  overflow: auto;
  position: relative;
  z-index: 2;
  padding-bottom: 20px;
}
