.section-faq {
  background-color: #f2f2f2;
}

.section-stats {
  background-color: #202020;

  * {
    text-align: center;
    color: white !important;
  }
}

.section-services {
  background-color: #7c72e4;

  h2 {
    text-align: center;
    color: white !important;
  }
}

.section-main {}

.main {
  position: relative;
}
